// Navigation Styles here

.navbar {
    padding: 1.5% 0;
    border-bottom: 2px dashed @silver;

    .container {
        .flexbox(space-between, center);

        @media @mobile {
            flex-direction: column;
        }

        .logo {
            .flexbox(flex-start);

            @media @mobile {
                padding: 2.5% 0 3%;
            }
        }

        nav {
            .flexbox(flex-end);
            width: 50%;

            @media @mobile {
                width: 100%;
                .flexbox(space-around, center)
            }
    
            a {
                text-decoration: none;
                color: @shark;
                font-size: 1.4rem;
                padding: 0 4%;
            }
        }
    } 
}

